body {
    padding: 0;
    margin:  0;
}

#preloader {
    display:         flex;
    align-items:     center;
    flex-direction:  column;
    justify-content: center;
    width:           100vw;
    height:          100vh;
    color:           #ffd48e;
    background:      #1f1c1b;
}

.wrapper {
    position: relative;
    width:    500px;
    height:   500px;
}


.progress {
    position:  absolute;
    top:       0;
    right:     0;
    bottom:    0;
    left:      0;
    animation: 1s progress-rotation infinite linear;
}

.progress::before, .progress::after {
    position:      absolute;
    top:           -7px;
    right:         -7px;
    bottom:        -7px;
    left:          -7px;
    content:       '';
    border-radius: 50%;
}

.progress::after {
    transition: clip-path 0.3s;
    border:     8px solid #aaaaaa;
    clip-path:  inset(0 calc(50% - var(--preloader-progress) / 2) 0 calc(50% - var(--preloader-progress) / 2));
}

.progress::before {
    border: 6px solid #757575;
}

.percentage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 500px;
    font-size: 100px;
}

@keyframes progress-rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}